<link rel="stylesheet" href="/css/components/authors.css">

<div class="authors" id="$authors">
	<button id="$btn_authors_left">
		<i class="i_left_row"></i>
	</button>
	<button id="$btn_authors_right">
		<i class="i_right_row"></i>
	</button>
	<div class="scroll" id="$authors_scroll">
				<% for( let index = 0; index < 3; index++ ) { %>
		<% for( let author of authors ) { %>
			<a
				class="author"
				href="u/<%= author._id %>"
			>
				<img
					src="uploads_img/<%= author.profile_img %>"
					alt="<%= author.name %>"
				>
				<section class="user_data">
					<span class="name">
						<%= author.name %>
					</span>
					<span class="job">
						<%= author.job %>
					</span>
				</section>
			</a>
		<% } %>
				<% } %>
	</div>
</div>
<script src="js/authors.js"></script>