<article class="post">
	<a href="/<%= post.url %>">
		<img
			<% if (post.img_miniature) { %>
				src="/uploads_img/<%= post.img_miniature %>"
			<% } else { %>
				src="/img/img_miniature_default.jpg"
			<% } %>
			alt="<%= post.title %>"
		>
	</a>
	<div class="content">
		<h2><a class="post_title" href="/<%= post.url %>"><%= post.title %></a></h2>
		<p class="post_description"><%= post.description %></p>
	</div>
</article>